#!/usr/bin/env zsh
# the shebang is ignored, but nice for editors

NIXPKGS_ALLOW_INSECURE=1 use flake --impure
# use flake

# echo
# cargo_v="$(zsh -c './.bin/cargo --version')"
# git_s=$(git status)
echo -e "---\n\n# Git Status\n\n" | mdcat
echo
git status
echo
# echo "---" | mdcat 
# echo
# alias cargo="$PWD/.cargo/cargo"
# export cargo
# scripts $PWD/.cargo/cargo

# which cargo
PATH_add $PWD/.bin/
