#!/usr/bin/env zsh
# the shebang is ignored, but nice for editors

# NIXPKGS_ALLOW_INSECURE=1 use flake --impure
use flake

# echo
# cargo_v="$(zsh -c './.bin/cargo --version')"
# git_s=$(git status)
echo -e "---\n\n# Git Status" | mdcat
echo
git status
echo
# PATH_add $PWD/.bin/
echo -e "---\n\n# Just Commands" | mdcat
echo
just --list
echo
